:root{
    --color-0: #eaeaea;
    --color-1: #ff6600;
    --color-2: #eec900;
    --color-3: #0000ff;
    --color-4: #cc00ff;
    --color-5: #00ff00;
    --color-6: #66ccff;
    --color-7: #ff0000;
}
*{
    /*border: 1px solid red;*/
    padding:0;
    margin:0;
    
}
.color-0 {
    background-color: var(--color-0);
}
  
.color-1 {
    background-color: var(--color-1);
}
  
.color-2 {
background-color: var(--color-2);
}

.color-3 {
    background-color: var(--color-3);
}

.color-4 {
    background-color: var(--color-4);
}

.color-5 {
    background-color: var(--color-5);
}

.color-6 {
    background-color: var(--color-6);
}

.color-7 {
    background-color: var(--color-7);
}
.title{
    text-align: center;
    font-size:100px;
}
body{
    background-color: blanchedalmond;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    padding-right:150px;
    padding-left:150px;
    .side-area{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height:500px;
        .scoreboard{
            height:100px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:200px;
            gap:10px;
            background-color: var(--color-0);
            box-shadow: 8px 8px black;
            color:black;

        }
        .meta{
            width:150px;
            height:50px;
            font-size: 25px;
            background-color: var(--color-0);
            color:black;
            border-radius:25px;
            border:1px solid var(--color-0);
            box-shadow: 5px 5px black;
        }
        .meta:hover{
            background-color: black;
            color:white;
            border-radius:25px;
            border:1px solid black;
            box-shadow: 5px 5px black;
        }
        
    }

        
    .board-container{
        display: inline-grid;
        grid-template-columns: repeat(10, 2fr);
        grid-template-rows: repeat(20, 2fr);
        border: 1px solid black;
        width:300px;
        height:550px;
        box-shadow:5px 5px black;
    }
    
}
.cell{
    border: solid;
}
.next-block{
    display:inline-grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    width:200px;
    height:200px;
    box-shadow:5px 5px black;
}
.start-container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    .start-menu{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height:500px;
        align-items: center;
        width:350px;
        background-color: var(--color-0);
        box-shadow: 8px 8px black;
        .play-button{
            width:300px;
            height:75px;
            font-size: 50px;
            background-color: var(--color-5);
            color:white;
            border-radius:25px;
            border:1px solid var(--color-5);
            box-shadow: 5px 5px var(--color-5);
        }
        .play-button:hover{
            background-color: white;
            color:var(--color-5);
        }
    }
}

.popup{
    position:absolute;
    left:50%;
    top:50%;
    width:200px;
    height:200px;
    transform:translate(-50%,-50%);
}
.popup h1{
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    text-align: center;
}
.popup.hidden {
    display: none;
  }