*{
    /*border: 1px solid red;*/
    padding:0;
    margin:0;
}
.title{
    text-align: center;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:94vh;
    .sidebar{
        height:700px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:400px;
        gap:40px;
        
    }
    .board-container{
        border: 1px solid black;
        width:350px;
        height:700px;
        
    }
}