*{
    border: 1px solid red;
}
.title{
    text-align: center;
}
.container{
    display:flex;
    justify-content: space-between;
    .sidebar{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:400px;
    }
}